In [3]:
import pandas as pd

In [4]:
# Update the path to the correct location of the file
truck_events = pd.read_csv("../files/input/truck_event_text_partition.csv")
truck_events.head()

,driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate
0,14,25,59:21.4,Normal,-94.58,37.03,14|25|9223370572464814373,3.660000e+18,Adis Cesir,160405074,Joplin to Kansas City Route 2,2016-05-27-22
1,18,16,59:21.7,Normal,-89.66,39.78,18|16|9223370572464814089,3.660000e+18,Grant Liu,1565885487,Springfield to KC Via Hanibal,2016-05-27-22
2,27,105,59:21.7,Normal,-90.21,38.65,27|105|9223370572464814070,3.660000e+18,Mark Lochbihler,1325562373,Springfield to KC Via Columbia Route 2,2016-05-27-22
3,11,74,59:21.7,Normal,-90.20,38.65,11|74|9223370572464814123,3.660000e+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
4,22,87,59:21.7,Normal,-90.04,35.19,22|87|9223370572464814101,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22

In [5]:
specific_columns = truck_events[["driverId", "eventTime", "eventType"]]
specific_columns

       driverId eventTime eventType
0            14   59:21.4    Normal
1            18   59:21.7    Normal
2            27   59:21.7    Normal
3            11   59:21.7    Normal
4            22   59:21.7    Normal
...         ...       ...       ...
17070        11   12:23.1    Normal
17071        16   12:24.0    Normal
17072        18   12:23.7    Normal
17073        10   12:23.8    Normal
17074        19   12:24.0    Normal

[17075 rows x 3 columns]

In [6]:
new_sub_set = truck_events.loc[0:10, ["driverId", "eventTime", "eventType"]]
new_sub_set

    driverId eventTime eventType
0         14   59:21.4    Normal
1         18   59:21.7    Normal
2         27   59:21.7    Normal
3         11   59:21.7    Normal
4         22   59:21.7    Normal
5         22   59:22.3    Normal
6         23   59:22.4    Normal
7         11   59:22.5    Normal
8         20   59:22.5    Normal
9         32   59:22.5    Normal
10        27   59:22.6    Normal

In [7]:
truck_events.iloc[1]

driverId                                    18
truckId                                     16
eventTime                              59:21.7
eventType                               Normal
longitude                               -89.66
latitude                                 39.78
eventKey             18|16|9223370572464814089
CorrelationId            3660000000000000000.0
driverName                           Grant Liu
routeId                             1565885487
routeName        Springfield to KC Via Hanibal
eventDate                        2016-05-27-22
Name: 1, dtype: object

In [8]:
import os 
if not os.path.exists("../files/output"):
    os.makedirs("../files/output")

specific_columns.to_csv(
    "../files/output/specific_columns.csv",
    sep=",",
    header=True,
    index=False
)